.user-block .user-title {
    margin: 0 0 5px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.score-block {
    display: flex;
}

.score-block .score {
    margin-left: 10px;
}

.start-button {
    display: flex;
    justify-content: center;
}

.start-button button {
    width: 100%
}

.input {
    width: 300px;
    min-height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 4px solid #ccc;
    padding-left: 20px;
}